# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.pytest_cache/

# Large Model Weights (exceeds GitHub limits)
**/best_model/*.safetensors
**/best_model/*.bin
**/best_model/*.h5
**/best_model/*.ot
**/best_model/*.pt
results/
*.zip

# Large Datasets
train.csv

# Virtual environments
venv/
.venv/
env/
.env

# IDE / System files
.vscode/
.idea/
.DS_Store
Thumbs.db
